dist/
build/
.settings
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.validation.prefs
*.bat
*.sh
*.coverage
*.pyc
*.pyo
*.db
*.sqlite

cardgameengine.egg-info